@page "/AddProduct"
@using System.ComponentModel.DataAnnotations
@using HyperMarket.DB.Models
@inject HyperMarket.Data.Interfaces.IProductService productService
@inject NavigationManager UriHelper
@inject ICategoryService categoryService
@inject ISubCategoryService subcategoryService
@inject AuthenticationStateProvider AuthStateProvider
@inject ISnackbar Snackbar

<center>
    <EditForm Model="prod" OnValidSubmit="AddYourProduct">
        <DataAnnotationsValidator />
<div class ="bg">
       
        <MudGrid Class="d-flex justify-center align-center">
           
                <MudItem >
                    <MudCard >
                        <h4>Add New Product</h4>
                        <MudCardContent>
                            <MudTextField Label="Product name" HelperText="Max. 30 characters" @bind-Value="prod.ProductName" For="@(()=>prod.ProductName)" InputType="InputType.Text"/>
                            <MudTextField Label="Product Description" Class="mt-3" @bind-Value="prod.ProductDescription" For="@(()=> prod.ProductDescription)" InputType="InputType.Text"/>
                            <MudTextField Label="Price" HelperText="List your price" Class="mt-3" @bind-Value="prod.Price" For="@(()=> prod.Price)" InputType="InputType.Number" />
                           <MudSelect @bind-Value="@prod.CategoryId" Label="Category"  AnchorOrigin="Origin.BottomCenter">
                                @foreach (var item in category)
                                {
                                    <MudSelectItem Value=@item.CategoryId >
                                        @item.CategoryName
                                        </MudSelectItem>
                                }
                            </MudSelect>
                            <MudSelect @bind-Value="@prod.SubCategoryId" Label="SubCategory"  AnchorOrigin="Origin.BottomCenter">
                                @foreach (var item in subcategory)
                                {
                                    <MudSelectItem Value=@item.SubCategoryId >
                                        @item.SubCategoryName
                                        </MudSelectItem>
                                }
                            </MudSelect>
                            <MudTextField Label="Discount" HelperText="List your discount percentage" Class="mt-3" @bind-Value="prod.Discount" For="@(()=>prod.Discount)" InputType="InputType.Number" />
                            <MudTextField Label="Address Line 1" Class="mt-3" @bind-Value="prod.AddressLine1" For="@(()=> prod.AddressLine1)" InputType="InputType.Text"/>
                            <MudTextField Label="Address Line 2" Class="mt-3" @bind-Value="prod.AddressLine2" For="@(()=> prod.AddressLine2)" InputType="InputType.Text"/>
                            <MudTextField Label="Address Line 3" Class="mt-3" @bind-Value="prod.AddressLine3" For="@(()=> prod.AddressLine3)" InputType="InputType.Text"/>
                            <MudTextField Label="Pin" Class="mt-3" @bind-Value="prod.Pin" For="@(()=> prod.Pin)" InputType="InputType.Number" />
                        </MudCardContent>
                        @*<MudItem>

                        <InputFile OnChange = "@OnInputFileChanged" />
                        </MudItem>*@
                        <InputFile id="fileInput112" OnChange="UploadFiles" hidden multiple accept=".jpg, .jpeg, .png" />
                        <MudButton HtmlTag="label"
                            Variant="Variant.Filled"
                            Color="Color.Primary"
                            StartIcon="@Icons.Filled.CloudUpload"
                                for="fileInput112">
                                Upload your image
                        </MudButton>
                        <MudCardActions>
                            <div class="btn">
                                <MudButton ButtonType="ButtonType.Submit" Align="align.Right">Register</MudButton>
                            </div>
                        </MudCardActions>

                    </MudCard>
                </MudItem>
         

        </MudGrid>
           </div>
    </EditForm>
 
</center>

@code {
    bool success;
    AddProductModel prod = new AddProductModel();
    List<Category> category = new List<Category>();
    List<SubCategory> subcategory = new List<SubCategory>();
    public string productImage = string.Empty;


    protected override async Task OnInitializedAsync()
    {
        category = await categoryService.GetAllCategory();
        subcategory = await subcategoryService.GetAllSubCategory();
    }
    async void AddYourProduct()
    {
        AuthenticationState ac = await AuthStateProvider.GetAuthenticationStateAsync();
        prod.userId = Int32.Parse(ac.User.Claims.First(i => i.Type == System.Security.Claims.ClaimTypes.NameIdentifier).Value);
        prod.CategoryId = prod.CategoryId;
        prod.SubCategoryId = prod.SubCategoryId;
        prod.ImageUrl = productImage;

        productService.SaveProduct(prod);
        Snackbar.Add("Product Added Sucessfully", Severity.Success);
        UriHelper.NavigateTo("/Myproduct");
    }

    //public async Task OnInputFileChanged(InputFileChangeEventArgs inputFileChangeEvent)
    //{
    //    //getting the file
    //    var file = inputFileChangeEvent.File;

    //    //byte array
    //    var buffer = new byte[file.Size];
    //    await file.OpenReadStream().ReadAsync(buffer);

    //    //byte array to base 64 string
    //    productImage= $"data:image/jpg;base64,{Convert.ToBase64String(buffer)}";
    //}
    private void UploadFiles(InputFileChangeEventArgs e)
    {
        var entries = e.GetMultipleFiles();
        //Do your validations here
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.TopCenter;
        Snackbar.Add("Image Uploaded", Severity.Success);
        //Snackbar.Add($"Files with {entries.FirstOrDefault().Size} bytes size are not allowed", Severity.Error);
        //Snackbar.Add($"Files starting with letter {entries.FirstOrDefault().Name.Substring(0, 1)} are not recommended", Severity.Warning);
        //Snackbar.Add($"This file has the extension {entries.FirstOrDefault().Name.Split(".").Last()}", Severity.Info);

        
    }

}