@page "/FAQ"
@using HyperMarket.DB.Models;
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@inject HyperMarket.Data.Interfaces.IFAQsService faqsService

<div class="backgroundcolor_height">
    <MudGrid Class="d-flex align-center justify-center mud-width-full py-8">

        <MudItem xs="12" sm="7">

            <MudPaper Class="mx-auto pa-6">
                <h3>Frequently Asked Questions</h3>
                <MudExpansionPanels>
                    <MudExpansionPanel Text="@f.FaqTitle" MaxHeight="150">
                        @f.FaqSolution
                    </MudExpansionPanel>
                    <MudExpansionPanel Text="@f1.FaqTitle" MaxHeight="500">
                        @f1.FaqSolution
                    </MudExpansionPanel>
                    <MudExpansionPanel Text="@f2.FaqTitle" MaxHeight="1000">
                        @f2.FaqSolution
                    </MudExpansionPanel>

                </MudExpansionPanels>
            </MudPaper>
        </MudItem>
    </MudGrid>
</div>

@code {
    public Faq f = new Faq();
    public Faq f1 = new Faq();
    public Faq f2 = new Faq();

    protected override async Task OnInitializedAsync()
    {
        f = await faqsService.GetFaqs(701);
        f1 = await faqsService.GetFaqs(702);
        f2 = await faqsService.GetFaqs(703);
    }
}
