@page "/MyOrdercust"
<h3>My Orders</h3>
@*<center><MudTable Items="@Order.Take(4)">
    <HeaderContent>
        <MudTh>Order No.</MudTh>
        <MudTh>Date</MudTh>
        <MudTh>Description</MudTh>
        <MudTh>Amount</MudTh>
        <MudTh>Status</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Order No.">@context.OrderId</MudTd>
        <MudTd DataLabel="Amount">@context.PaymentId</MudTd>
        <MudTd DataLabel="Description">@context.BusinessName</MudTd>
        <MudTd DataLabel="Status">@context.MyOrderCredits</MudTd>
    </RowTemplate>
</MudTable>
</center>*@
@code {
    //private IEnumerable<MyOrder> Order = new List<MyOrder>;
    //protected override async Task OnInitialisedAsync()
    //{
    //    Order=await httpClient.GetFromJsonAsync<List<Element>>("webapi/periodictable");
    //}
    }