@page "/MyPayment"
@inject NavigationManager UriHelper
@using HyperMarket.Shared
@using HyperMarket.DB.Models
@using HyperMarket.UIControls.LoadingIcon
@inject HyperMarket.Data.Interfaces.IPaymentService paymentService
@inject HyperMarket.Data.Interfaces.ICustomerDetailService customerdetailService
@inject HyperMarket.Data.Interfaces.IOrderService orderService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject HyperMarket.Data.Interfaces.IBusinessDetailService businessdetailService
@inject HyperMarket.DB.Interfaces.IUserService userService
@inject AuthenticationStateProvider AuthStateProvider
@using HyperMarket.ViewModels;
@inject ISnackbar Snackbar
@attribute [Authorize(Roles="User")]

@if (prod == null) {
        <Loading/>
    }
else{
<div class="bg">
   <center>
       <EditForm Model="paymentModel" OnValidSubmit=@OnValidSubmit > 
      <div class="first">
         <MudGrid Class="d-flex justify-center align-center">
            <div class="second">
               <MudItem xs="12" sm="7">
                    <div class="third">
                        <MudCard class="fourth">
                             <MudCardContent>
                                 <h2 class="log">Payment</h2>
                                    <div class="radiotype">
                                        <MudRadioGroup @bind-SelectedOption="@Placement" @bind-Value="paymentModel.PaymentType">
                                            <MudRadio Color="Color.Primary" Option="@(Placement.Top)">Credit Card</MudRadio> <br />
                                            <MudRadio Color="Color.Primary" Option="@(Placement.Bottom)">Debit Card</MudRadio><br />
                                            <div class="radio3">
                                                <MudRadio Color="Color.Primary" Option="@(Placement.Left)">Paytm</MudRadio><br />
                                            </div>
                                            <div class="radio4">
                                                <MudRadio class="radio4" Color="Color.Primary" Option="@(Placement.Right)">Net Banking</MudRadio>
                                            </div><br /><br /><br />
                                        </MudRadioGroup>
                                        <h6>Total Amount :</h6>
                                        <div class="text1">
                                            <MudTextField @bind-Value="finalPrice" Label="" ReadOnly="true" Variant="Variant.Filled" Margin="Margin.Dense"></MudTextField>
                                            </div>
                                        <h6>My Credits :</h6>
                                        @if(check)
                                                {
                                                    OnUsingCredits();
                                                <div class="text1">
                                            <MudTextField @bind-Value="customer.MyCredits" Label="" ReadOnly="true" Variant="Variant.Filled" Margin="Margin.Dense"></MudTextField>
                                                    </div>
                                                }
                                                else
                                                {
                                                     <div class="text1">
                                            <MudTextField @bind-Value="creditsUsed" Label="" ReadOnly="true" Variant="Variant.Filled" Margin="Margin.Dense"></MudTextField>
                                                    </div>
                                                }
                                            </div>
                                            <div>
                                     <MudSwitch @bind-Checked="@check" Align="left" Color="Color.Secondary">Use Credits</MudSwitch>
                                     </div>
                                </MudCardContent>
                                <MudCardActions>
                                    <div class="btn">
                                        <MudButton ButtonType="ButtonType.Submit" Align="align.Center" > <div class="btncolor">Pay Now</div></MudButton>
                                    </div>
                                </MudCardActions>
                            </MudCard>
                        </div>
                    </MudItem>
                </div>
            </MudGrid>
        </div>
        </EditForm>
    </center>
</div>
}

@code {
    public Placement Placement { get; set; } = Placement.Right;
    public bool Basic_CheckBox2 { get; set; } = false;
    public bool check = false;
    public int userId = 0;
    public CustomerDetail customer = new CustomerDetail();
    public BusinessDetail business = new BusinessDetail();
    public Product prod;
    public int finalPrice;
    public Payment paymentDetails = new Payment();
    public User user = new User();
    UpdateProfile pay = new UpdateProfile();
    public OrderModel order = new OrderModel();
    public PaymentModel paymentModel = new PaymentModel();
    public int creditsUsed = 0;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            AuthenticationState ac = await AuthStateProvider.GetAuthenticationStateAsync();
            userId = Int32.Parse(ac.User.Claims.First(i => i.Type == System.Security.Claims.ClaimTypes.NameIdentifier).Value);
            customer = await customerdetailService.GetCustomerDetailById(userId);
            business = await sessionStorage.GetItemAsync<BusinessDetail>("business");
            prod = await sessionStorage.GetItemAsync<Product>("product");
            user = await userService.GetUserById(userId);

            paymentModel.PaymentType = "Net Banking";
            paymentModel.CreditsUsed = 0;
            finalPrice = prod.Price;
            
        }
        catch{
            Snackbar.Add("Payment Failed", Severity.Error);
        }
    }

    private async Task OnValidSubmit(EditContext context)
    {
        paymentModel.CreditsUsed = creditsUsed;
        paymentModel.Price = finalPrice;
        customer.MyCredits = customer.MyCredits - creditsUsed + prod.Price;
        customer.User = user;
        paymentService.SavePaymentDetails(paymentModel);
        await customerdetailService.UpdateUser(customer);
        paymentDetails = await paymentService.GetCurrentPayment();
        order.BusinessId = business.BusinessId;
        order.UserId = userId;
        order.ProductId = prod.ProductId;
        order.MyOrderCredits = prod.Price;
        order.PaymentId = paymentDetails.PaymentId;
        orderService.CreateOrder(order);
        Snackbar.Add(" credits used: " + paymentModel.CreditsUsed + "Final price: " + finalPrice, Severity.Success);
        UriHelper.NavigateTo("/PaymentSuccessful");
    }

    public void OnUsingCredits()
    {
         if (prod.Price <= (customer.MyCredits / 10))
        {
            finalPrice = 0;
            creditsUsed = customer.MyCredits/10 - prod.Price;
            
        }
        else
        {
            finalPrice = prod.Price - customer.MyCredits/10;
            creditsUsed = customer.MyCredits ;
            
        }
        paymentModel.CreditsUsed = customer.MyCredits;
    }
  }