@page "/SignUp"
@inject HyperMarket.Data.Interfaces.ICustomerDetailService cdSer
@inject NavigationManager NavigationManager
@inject IAuthService AuthService
@inject ILocalStorageService LocalStorage

<div class="bg">
    <center>

        <EditForm Model="userSignup" OnValidSubmit="HandleGetOTP" hidden="@(!hideForm)">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <MudGrid Class="d-flex align-center justify-center mud-width-full py-8">
                <MudItem xs="12" sm="7">
                    <MudCard>
                        <MudCardContent>
                            <h3>Sign Up</h3>

                            <MudTextField Label="Email Id" @bind-Value="userSignup.Email" For="@(()=> userSignup.Email)" InputType="InputType.Email" />
                            <MudTextField Label="User Name" @bind-Value="userSignup.Username" For="@(()=> userSignup.Username)" />
                            <MudTextField Label="First Name" @bind-Value="userSignup.FirstName" For="@(()=> userSignup.FirstName)" />
                            <MudTextField Label="Last Name" @bind-Value="userSignup.LastName" For="@(()=> userSignup.LastName)" />
                            <MudTextField Label="Referral code" @bind-Value="userSignup.ReferralCode" For="@(()=> userSignup.ReferralCode)" />

                        </MudCardContent>
                        <MudCardActions>
                            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Error" Class="ml-auto">Get OTP</MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </EditForm>

        <EditForm Model="userOTP" OnValidSubmit="HandleSignup" hidden="@(hideForm)">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <MudGrid Class="d-flex align-center justify-center mud-width-full py-8">
                <MudItem xs="12" sm="7">
                    <MudCard>
                        <MudCardContent>
                            <MudTextField Label="OTP" @bind-Value="userOTP.OTP" For="@(()=> userOTP.OTP)" InputType="InputType.Number" />
                        </MudCardContent>
                        <MudCardActions>
                            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Error" Class="ml-auto">Sign Up</MudButton>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
            </MudGrid>
        </EditForm>

    </center>
</div>

@code {
    UserSignup userSignup = new UserSignup();
    UserOTP userOTP = new UserOTP();
    CustomerDetail cd = new CustomerDetail();
    private bool hideForm = true;

    async void HandleSignup()
    {
        var result = await AuthService.Signup(userSignup, userOTP);

        if (result.Success){
            cd.UserId = result.Data;
            cd.FirstName = userSignup.FirstName;
            cd.LastName = userSignup.LastName;
            cd.ReferralCode = userSignup.LastName;
            User U = new();
            U.EmailId = userSignup.Email;
            U.UserName = userSignup.Username;
            U.Password = "thiiIsMistake";
            U.ReferredBy = userSignup.ReferralCode;

            cd.User = U;
            cdSer.SaveUser(cd);
            NavigationManager.NavigateTo("/signin");

        }
        else
        {
            Console.WriteLine(result.Message);
        }
    }

    async void HandleGetOTP()
    {
        hideForm = !hideForm;
        var result = await AuthService.GetOTP(new UserSignin
            {
                Email = userSignup.Email,
                OTPValidate = new OTPValidate()
                {
                    UserOTP = string.Empty,
                    EncryptedActualOTPTimestamp = string.Empty
                }
            });
        if (result.Success)
        {
            Console.WriteLine(result.Message);
            await LocalStorage.SetItemAsync<string>("OTP", result.Data);
        }
        else
        {
            Console.WriteLine(result.Message);
        }
    }
    }
