@inherits LayoutComponentBase
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager
@inject HyperMarket.Data.Interfaces.IConfigService configService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage


<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />


<MudLayout>
   @* <MudGrid Class="justify-center d-flex align-center mud-width-full py-8">*@
    <div class="flex-container">
        <MudAppBar Fixed="true" Dense="true">
            <div><a href="/"> <MudImage Src="images/LOGO.png" Width="48" Height="48" /></a></div>
            <div id="location-dropdown">  
                <MudSelect T="Location" Class="wider" @bind-Value="savedLocation" SelectedValuesChanged="@saveLocation"
                    Label="Location" AnchorOrigin="Origin.BottomCenter">
                    @foreach (var item in AllLocations)
                    {
                        <MudSelectItem Class="wider" Value=@item >@item.LocationName</MudSelectItem>
                    }

                 </MudSelect>
            </div>
            <MudSpacer/>
            <AuthorizeView Roles="User">
                <Authorized>
                    <div class="navbar-padding">
                        <span>Hi, @context.User.Identity.Name </span>
                    </div>
                    <div class="navbar-padding">
                        <MudLink href="listBusiness"><div class="appcolor">List Your Business</div></MudLink>
                    </div>
                        <div class="navbar-padding">
                            <MudSelect T="string" Label="My Account"  AnchorOrigin="Origin.BottomCenter">
                                <a href="/MyProfile"><MudSelectItem Value="@("My Profile")" /></a>
                               @* <a href="/MyOrderCustomer"><MudSelectItem Value="@("My Orders")" /></a>*@
                                <a href="/MyBusiness"><MudSelectItem Value="@("My Business")" /></a>
                                <a href="/AddProduct"><MudSelectItem Value="@("Add Product")" /></a>
                                <a href="/MyProduct"><MudSelectItem Value="@("My Products")" /></a>

                            </MudSelect>
                        </div>
                    <div class="navbar-padding"> <MudLink @onclick="Signout"><div class="appcolor">Sign Out</div></MudLink></div>

                </Authorized>
                <NotAuthorized>

                    <div><MudLink href="signin"><div class="appcolor app-margin">Sign In</div></MudLink></div>
                    <div><MudLink href="signup"><div class="appcolor app-margin">Sign Up</div></MudLink></div>

                </NotAuthorized>
            </AuthorizeView>

            @* <AuthorizeView Roles="Business">
                <Authorized>
                <div class="space1">
                <span>Hi, @context.User.Identity.Name </span>
                </div>

                <div>
                <div class="first">
                <MudSelect T="string" Label="My Account" AnchorOrigin="Origin.BottomCenter">
                <a href="/MyBusiness"><MudSelectItem Value="@("My Business")" /></a>
                <a href="/MyProduct"><MudSelectItem Value="@("My Products")" /></a>

                </MudSelect>
                </div>
                </div>
                <div class="space3"> <MudLink @onclick="Signout"><div class = "appcolor">Sign Out</div></MudLink></div>

                </Authorized>

                <NotAuthorized>
                You do not have access to view this page
                </NotAuthorized>
                </AuthorizeView>*@

            @*<MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit" />*@
        </MudAppBar>
    </div>
   @* </MudGrid>*@

    <MudMainContent>
        @Body
    </MudMainContent>
    @*<div class="container">
        <ul class="flex-row">
            <MudAppBar Color="Color.Dark" Fixed="true" Dense="true" Bottom="true">
                <MudLink Href="/About" Underline="Underline.Always"><a class="link1" href="/about">About</a></MudLink>
                <MudLink Href="/Blog" Underline="Underline.Always"><a class="link1" href="/blog">Blog</a></MudLink>
                <MudLink Href="/SocialMedia" Style="color: white;" Underline="Underline.Always"><a class="link1" href="/SocialMedia">Social Media</a></MudLink>
                <MudLink Href="/FAQ" Style="color: white;" Underline="Underline.Always"><a class="link1" href="/FAQ">FAQ's</a></MudLink>
                <MudLink Href="/ContactUs" Style="color: white;" Underline="Underline.Always"><a class="link1" href="/ContactUs">Contact Us</a></MudLink>
            </MudAppBar>
        </ul>*@
        <footer>
        <div class="footer">
            <div class="inner_footer">
                <div class="logo_container">
                    <img src="images/LOGO.png"
                </div>
                <div class="footer-third">
                    <h1>Need Help?</h1>
                    <a href="/About">About Page</a>
                    <a href="/FAQ">FAQ</a>
                    <a href="/ContactUs">Contact Us</a>
                </div>
                <div class="footer-third">
                    <h1>Learn More</h1>
                    <a href="/">Terms and conditions</a>
                    <a href="/Blog">Blog</a>
                </div>
                <div class="footer-third">
                    <h1>Reach out to us</h1>
                    <MudIconButton Icon="@Icons.Custom.Brands.Facebook" Color="Color.Primary" aria-label="facebook"></MudIconButton>
                        <p>@config.FaceBookHandle</p>
                        <MudIconButton Icon="@Icons.Custom.Brands.Instagram" Color="Color.Primary" aria-label="instagram"></MudIconButton>
                        <p>@config.InstaHandle</p>
                        <MudIconButton Icon="@Icons.Custom.Brands.Twitter" Color="Color.Primary" aria-label="teitter"></MudIconButton>
                        <p>@config.TwitterHandle</p>
                </div>
            </div>
    </div>
    </footer>
</MudLayout>


@code
{
    public List<Location> AllLocations = new List<Location>();
    public Config config = new Config();
    public Location savedLocation;
    protected override async Task OnInitializedAsync()
    {
        AllLocations = await locationService.GetAllLocation();
        config = await configService.GetConfigById(601);

    }

    private async void saveLocation(){
        await sessionStorage.SetItemAsync("Location",this.savedLocation);
        NavigationManager.NavigateTo("/");
    }

    private async void Signout()
    {
        await LocalStorage.RemoveItemAsync("authToken");
        await AuthStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("/");
    }
}